<li>
  <% if signed_in? %>
    <% if current_supervisor? %>
      <%= link_to exam.name, exam %>
    <% else %>
      <%= link_to exam.name, trainee_exams_path(exam_id: exam.id), method: :post %>
    <% end %>
  <% else %>
    <%= link_to exam.name, trainee_exams_path(exam_id: exam.id), method: :post %>
  <% end %>
</li>
